.heading-container{
  height: 100%;
  margin-bottom: 1rem;
}
.row{
  margin-left: 0%!important;
  margin-right: 0%!important;
}
.home-header-bg{
  padding-top: 1rem;
  background-image: url("images/release-page-header.png");
  height: 28rem;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.row-header{
  width: 100%;
}
.home-image{
  height: 3.5rem;
  margin-left: 30%;
}
.home-button{
  font-size: 0.8rem!important;
  padding: 0%;
  margin: 0%;
  font-weight: 500!important;
  
}
.home-text01{
  color: rgb(5, 14, 64);
  font-weight: 700;
  width: 100;
  font-size: 3rem;
  display: flex;
  margin: 3.8%;
  justify-content: center;
}
.heading-content{
  font-size: 1.2rem;
  margin: auto;
  width: 650px!important;
}
.demo-con{
  width: 80%;
  margin: auto;
}
.latest-version{
  margin-top: 0rem!important;
}
.version-content{
  text-align: start;
  color: #0a6af7;
  font-size: 1.8rem;
  font-weight: 800;
}
.date-content{
  text-align: start;
  color: rgb(177, 177, 177);
}
.content-heading{
  color: rgb(5, 14, 64);
  font-weight: 700;
  font-size: 1.8rem;
}
.sub-content{
  margin-left: 12px!important;
  width: 93%;
  font-size: 1.2rem;
}
.home-link{
  color: rgb(5, 14, 64)!important;
  border-color: rgb(221, 221, 221)!important;
  font-weight: 700!important;
  margin-bottom: 5px;
  width: 80px;
}
.image-content{
  margin-top: 0.5rem!important;
  margin-bottom: 1rem;
}
.page-numbers{
  margin-top: 15px;
}
.footer-content{
  color: rgb(90, 88, 88);
  height: 70px!important;
  margin-top: 40px;
}

@media(max-width: 1200px){
  .heading-content{
    width: 53%!important;
  }
}
@media(max-width: 958px){
  .home-image{
    margin: auto;
    display: flex!important;
    align-items: center!important;
  }
  .heading-content{
    width: 58%!important;
  }
}
@media(max-width: 545px){
  .heading-content{
    width: 70%!important;
  }
}
@media(max-width: 474px){
  .home-text01{
    font-size: 2.8rem;
  }
  .heading-content{
    width: 75%!important;
  }
}
@media(max-width: 371px){
  .home-text01{
    font-size: 2.6rem;
  }
  .heading-content{
    font-size: 1.1rem;
  }
}
